{%extends 'information_system/Main.html'%}

{%load static%}

{%block content%}
    <h3>Current Loan List</h3>
<hr>
<!--<h3>Total Current Deposit: ${{total_dep.mytotal}}</h3>-->
<!--<h3>Maximum Deposit: ${{maximum_dep.mymax}}</h3>-->
<div>
      <table class="table">
  <thead class="thead-dark">

   <tr>
                    <td><a class="btn btn-sm btn-info" href="{% url 'export' %}">Export Loan CSV</a> </td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'export' %}">Export Loan PDF</a> </td>
                     <td><a class="btn btn-sm btn-info" href="{% url 'export' %}">Export Loan CSV</a> </td>

    </tr>
    <tr>
        <th scope="col"></th>
      <th scope="col">Member</th>

       <th scope="col">Amount</th>
       <th scope="col">Date </th>
        <th scope="col">Update </th>


    </tr>
  </thead>
  <tbody>



     {%for loan in loan_list%}
                    <tr>

                        <td>{{loan.Member}}</td>
                        <td>{{loan.Amount_loan}}</td>
                        <td>{{loan.Date_loan}}</td>


                        <td><a class="btn btn-sm btn-info"	href="{% url 'update' loan.id %}">Update</a></td>
                          <td><a class="btn btn-sm btn-danger" href="#">Delete</a> </td>


                    </tr>
    {%endfor%}

  </tbody>
</table>

</div>


{%endblock content%}